body {
	background-color: #bae8e8;
}
h1 {
	text-align: center;
}

.container {
	display: inline-block;
	background-color: #e3f6f5;
	border: 5px solid black;
	margin: 35px auto;
	border-radius: 10px;
}

div.simon-circle {
	display: block;
	position: relative;
	width: 500px;
	height: 500px;
	border-radius: 50px;
}
div.quarter {
	position: absolute;
	width: 250px;
	height: 250px;
	background-color: #333;
	transition: transform 0.5s, opacity 0.5s;
}
div.quarter.left-top {
	left: 0;
	top: 0;
	border-top-left-radius: 250px;
	background-color: #007944;
	border: 3px solid black;
	cursor: pointer;
}

div.quarter.right-top {
	left: 250px;
	top: 0;
	border-top-right-radius: 250px;
	background-color: #cf1b1b;
	border: 3px solid black;
	cursor: pointer;
}
div.quarter.left-bottom {
	left: 0;
	top: 250px;
	border-bottom-left-radius: 250px;
	background-color: #fddb3a;
	border: 3px solid black;
	cursor: pointer;
}
div.quarter.right-bottom {
	left: 250px;
	top: 250px;
	border-bottom-right-radius: 250px;
	background-color: #150485;
	border: 3px solid black;
	cursor: pointer;
}
div.simon-circle:hover div.quarter {
	opacity: 0.5;
}
div.quarter:hover {
	opacity: 1 !important;
	transform: scale(1);
}

.start-btn {
	display: inline-block;
	padding: 15px 25px;
	font-size: 25px;
	background-color: #00bd56;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 45px;
	margin-bottom: 45px;
	margin-left: 30%;
}
.start-btn:hover {
	background-color: #007944;
}
.start-btn:active {
	transform: translateY(4px);
}
div.quarter.left-top:active {
	transform: translateY(4px);
}
div.quarter.right-top:active {
	transform: translateY(4px);
}
div.quarter.left-bottom:active {
	transform: translateY(4px);
}
div.quarter.right-bottom:active {
	transform: translateY(4px);
}

/* **---snippet code for simon circle from stackoverflow.com---** */
