body {
	background-color: #bae8e8;
	font-family: 'Teko', sans-serif;
}
h1 {
	text-align: center;
	font-family: 'Bungee', cursive;
}
h2 {
	font-family: 'Bungee', cursive;
}
li {
	line-height: 1.8;
	align-items: center;
}

.logo {
	width: 30%;
	height: auto;
	margin-bottom: 2.5rem;
	display: block;
}

.title {
	width: 60%;
	height: auto;
}

.level {
	color: #01a9b4;
	font-size: 3.75rem;
	margin-top: 5%;
	margin-bottom: 0.625rem;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.score {
	color: white;
	font-size: 1.875rem;
	margin-top: 0rem;
	/* margin-bottom: 3.125rem; */
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.atn-msg {
	color: #d9e5e6;
	font-size: 2.8125rem;
	animation: blinker 1s linear 3;
	animation-delay: 1s;
	display: none;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-image: url('https://i.imgur.com/IkkhGqw.png');
	border: 0.625rem solid black;
	margin: 10% 10%;
	border-radius: 0.625rem;
	align-items: center;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

div.simon-circle {
	display: block;
	position: relative;
	margin-top: 2.5rem;
	width: 25rem;
	/* 400px */
	height: 25rem;
	border-radius: 3.125rem;
}
div.quarter {
	position: absolute;
	width: 12.5rem;
	height: 12.5rem;
	background-color: #333;
	transition: transform 0.5s, opacity 0.5s;
}
div.quarter.left-top {
	left: 0;
	top: 0;
	border-top-left-radius: 12.5rem;
	background-color: #0b8457;
	border: 0.5rem solid black;
	cursor: pointer;
}

div.quarter.right-top {
	left: 12.5rem;
	top: 0rem;
	border-top-right-radius: 12.5rem;
	background-color: #cf1b1b;
	border: 0.5rem solid black;
	cursor: pointer;
}
div.quarter.left-bottom {
	left: 0rem;
	top: 12.5rem;
	border-bottom-left-radius: 12.5rem;
	background-color: #fddb3a;
	border: 0.5rem solid black;
	cursor: pointer;
}
div.quarter.right-bottom {
	left: 12.5rem;
	top: 12.5rem;
	border-bottom-right-radius: 12.5rem;
	background-color: #150485;
	border: 0.5rem solid black;
	cursor: pointer;
}
div.simon-circle:hover div.quarter {
	opacity: 0.5;
}
div.quarter:hover {
	opacity: 1 !important;
}

.how-to-btn {
	display: block;
	padding: 0.9375rem 1.5625rem;
	font-size: 1.875rem;
	background-color: #e3f6f5;
	width: 12.5rem;
	border-radius: 0.625rem;
	border: 0.375rem solid #01a9b4;
	cursor: pointer;
	margin-top: 2.8125rem;
	margin-bottom: 1.25rem;
	font-family: 'Teko', sans-serif;
}

.start-btn {
	display: block;
	padding: 0.9375rem 1.5625rem;
	font-size: 1.875rem;
	background-color: #e3f6f5;
	width: 12.5rem;
	border-radius: 0.625rem;
	border: 0.375rem solid #4caf50;
	cursor: pointer;
	margin-top: 0.625rem;
	margin-bottom: 1.875rem;
	font-family: 'Teko', sans-serif;
}

#close-btn {
	background-color: #f4f6ff;
	cursor: pointer;
	border-radius: 0.625rem;
	padding: 0.3125rem 0.9375rem;
	border: 0.3125rem solid #4d4d4d;
	font-family: 'Teko', sans-serif;
}

#close-btn:hover {
	background-color: #009a9a;
}
#close-btn:active {
	transform: translateY(0.25rem);
}
.how-to-btn:hover {
	background-color: #009a9a;
}
.how-to-btn:active {
	transform: translateY(0.25rem);
}
.start-btn:hover {
	background-color: #0b8457;
}
.how-to-btn:active {
	transform: translateY(0.4375rem);
}
.start-btn:active {
	transform: translateY(0.4375rem);
}
div.quarter.left-top:active {
	transform: translateY(-0.5625rem) translateX(-0.5625rem);
}
div.quarter.right-top:active {
	transform: translateY(-0.5625rem) translateX(0.5625rem);
}
div.quarter.left-bottom:active {
	transform: translateY(0.5625rem) translateX(-0.5625rem);
}
div.quarter.right-bottom:active {
	transform: translateY(0.5625rem) translateX(0.5625rem);
}

/* **---snippet code for simon circle from stackoverflow.com---** */

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0rem;
	left: 0rem;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-color: #f4f6ff;
	height: 21.875rem;
	width: 34.375rem;
	border-radius: 0.125rem;
	margin: 9.375rem auto;
	box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.4);
	padding: 3%;
	line-height: 120%;
	font-family: 'Teko', sans-serif;
	font-size: 1.0625rem;
	border-radius: 0.625rem;
	border: 0.375rem solid black;
}
#modal-footer {
	text-align: right;
}
/* *****------MEDIA QUERY FRIENDLY PARAMETERS----***** */
@media only screen and (min-device-width: 30rem) {
}
