body {
	display: flex;
	justify-content: center;
	background-color: #bae8e8;
	font-family: 'Teko', sans-serif;
}
h1 {
	text-align: center;
	font-family: 'Bungee', cursive;
}
li {
	line-height: 1.8;
	align-items: center;
}

.logo {
	margin-top: 20px;
	margin-left: 200px;
	margin-bottom: 20px;
	/* make media query friendly */
	width: 40%;
	height: auto;
	justify-content: center;
	align-items: center;
}

.title {
	margin-left: 60px;
	margin-bottom: 50px;
	width: 80%;
	height: auto;
	justify-content: center;
	align-items: center;
}
.container {
	background-image: url('https://i.imgur.com/IkkhGqw.png');
	border: 5px solid black;
	margin: 35px auto;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

/* .buttons {
    display: flex;
    justify-content: center;
} */
div.simon-circle {
	margin-left: 80px;
	display: block;
	position: relative;
	width: 500px;
	height: 500px;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
}
div.quarter {
	position: absolute;
	width: 250px;
	height: 250px;
	background-color: #333;
	transition: transform 0.5s, opacity 0.5s;
}
div.quarter.left-top {
	left: 0;
	top: 0;
	border-top-left-radius: 250px;
	background-color: #0b8457;
	border: 3px solid black;
	cursor: pointer;
}

div.quarter.right-top {
	left: 250px;
	top: 0;
	border-top-right-radius: 250px;
	background-color: #cf1b1b;
	border: 3px solid black;
	cursor: pointer;
}
div.quarter.left-bottom {
	left: 0;
	top: 250px;
	border-bottom-left-radius: 250px;
	background-color: #fddb3a;
	border: 3px solid black;
	cursor: pointer;
}
div.quarter.right-bottom {
	left: 250px;
	top: 250px;
	border-bottom-right-radius: 250px;
	background-color: #150485;
	border: 3px solid black;
	cursor: pointer;
}
div.simon-circle:hover div.quarter {
	opacity: 0.5;
}
div.quarter:hover {
	opacity: 1 !important;
	transform: scale(1);
}

.how-to-btn {
	margin-left: 225px;
	display: block;
	padding: 15px 25px;
	font-size: 25px;
	background-color: #e3f6f5;
	width: 200px;
	border-radius: 10px;
	border: 2px solid #01a9b4;
	cursor: pointer;
	margin-top: 45px;
	margin-bottom: 20px;
	font-family: 'Teko', sans-serif;
}
.start-btn {
	margin-left: 225px;
	display: block;
	padding: 15px 25px;
	font-size: 25px;
	background-color: #e3f6f5;
	width: 200px;
	border-radius: 10px;
	border: 2px solid #4caf50;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 45px;
	font-family: 'Teko', sans-serif;
}
#close-btn {
	background-color: #f4f6ff;
	cursor: pointer;
	border-radius: 10px;
	padding: 5px 15px;
	border: 2px solid #8d93ab;
	font-family: 'Teko', sans-serif;
}

#close-btn:hover {
	background-color: #009a9a;
}
#close-btn:active {
	transform: translateY(4px);
}
.how-to-btn:hover {
	background-color: #009a9a;
}
.how-to-btn:active {
	transform: translateY(4px);
}
.start-btn:hover {
	background-color: #0b8457;
}
.how-to-btn:active {
	transform: translateY(4px);
}
.start-btn:active {
	transform: translateY(4px);
}
div.quarter.left-top:active {
	transform: translateY(4px);
}
div.quarter.right-top:active {
	transform: translateY(4px);
}
div.quarter.left-bottom:active {
	transform: translateY(4px);
}
div.quarter.right-bottom:active {
	transform: translateY(4px);
}

/* **---snippet code for simon circle from stackoverflow.com---** */

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-color: #f4f6ff;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	padding: 3%;
	line-height: 120%;
	font-family: 'Teko', sans-serif;
	font-size: 17px;
	border-radius: 10px;
}
#modal-footer {
	text-align: right;
}
